[2017-12-26 15:50] Aidurber opened #3 "Support objects"
Should support objects i.e.
`
[{id: 1, name: "Test"}, { id: 2, name: "Another One"}]`

With support of supplying value and label props

`<Picky valueKey="id"  labelKey="name" ... />`

[2017-12-26 15:51] Aidurber opened #4 "Additional callbacks"
- onFiltered
- onOpen
- onClose

[2017-12-26 17:08] #4 closed

[2017-12-26 20:58] Aidurber opened #7 "Support custom rendering if options with render props pattern"
[Use a Render Prop! by Michael Jackson](https://cdb.reacttraining.com/use-a-render-prop-50de598f11ce)

[2017-12-26 20:58] #3 closed

[2017-12-26 21:14] Aidurber opened #8 "Add code sandbox and screenshots"
- [ ] Add code sandbox for demos
 - [X]  Add screenshots

[2017-12-27 08:40] #8 closed

[2017-12-27 08:42] Aidurber opened #9 "[Multiselect] Placeholder shows selected items in reverse order"
## Version
1.2.3
## Here's what went wrong:
When selecting options, before `numberDisplayed` kicks in, it shows selected items in reverse order.

Should have basic sorting of labels.

[2017-12-27 09:30] #7 closed

[2017-12-27 09:40] Aidurber opened #11 "[Feature] Keyboard support"
Adding keyboard support should be easy enough to implement.

[2017-12-27 09:40] Aidurber opened #12 "Accessibility improvements"
Should use correct aria and roles.

[2017-12-27 10:08] Aidurber commented on #9
It was just due to when setting selectedValue it was doing:
[code]
Should be:
[code]

This was due to rollup moaning about the spread operator initially.

Shouldn't have any kind of sorting, should append.

[2017-12-27 10:11] #9 closed

[2017-12-27 12:24] Aidurber opened #14 "Localise terms"
Missing localisation for in-built terms.

[2017-12-29 11:17] Aidurber opened #15 "SelectAll method could be faster"
## Version
1.3.2
## Here's what went wrong:
With a list of 100,000 items, the selectAll method could be much faster. No need for unneccessary map of options.

allSelected check does a sort too which slows things down considerably.

Did some basic performance.now checks.

allSelected check down from ~44ms to ~0.3ms

[2017-12-29 11:18] #15 closed

[2017-12-29 13:02] #12 closed

[2017-12-29 13:07] #11 closed

[2017-12-29 19:58] Aidurber opened #19 "Support uncontrolled components"
Users might not want a purely controlled component. If no value prop is provided then it's an uncontrolled component.

[code]

[2017-12-29 20:16] #19 closed

[2017-12-30 09:53] Aidurber opened #21 "Dropdown list appears behind the button of another picky"
## Version
1.4.0
## Here's what went wrong:
![bug](https://user-images.githubusercontent.com/5732291/34453254-37817f36-ed47-11e7-9ca6-0db5c6317a2b.JPG)

[2017-12-30 09:54] #21 closed

[2017-12-30 10:00] Aidurber opened #22 "Losing focus should close dropdown"
## Version
1.4.1
## Here's what went wrong:

Clicking the anywhere but the component should close the dropdown.

[2017-12-30 10:02] Aidurber opened #23 "Should auto close single select on selecting a value"
## Version
1.4.1
## Here's what went wrong:
It doesn't make sense to keep a single select open when selected a value.

## Additional
Should add new prop "keepOpen" which will keep the dropdown open on selecting a value.

[2017-12-30 10:50] #22 closed

[2017-12-30 10:50] #23 closed

[2018-01-02 04:47] rheinheimer opened #26 "dropdownHeight should set max-height instead of height"
## Version
1.5.1
## Here's what went wrong:
dropdownHeight prop sets "height", not "max-height", so that few options results in extra dropdown space.

p.s. thanks for this!!! I had the exact same problem this is trying to solve. It's a great start, and I imagine it will become quite used. A couple more issues forthcoming...

[2018-01-02 04:50] rheinheimer opened #27 "support custom render of select all"
## Version
1.5.1

## Here's what went wrong:
I use a custom render for the list items, but now the select all item looks very out of place. Having a custom renderer prop for the select all button would help resolve this. This might also allow for including a "deselect all" button.

[2018-01-02 12:13] Aidurber commented on #26
Hi @rheinheimer, thanks for the issues.

Height isn't actually set to the dropdown menu, it's set to the VirtualList from [react-tiny-virtual-list](https://github.com/clauderic/react-tiny-virtual-list#example-usage) which creates the height.

I can see the issue.

The only alternative I can see is to swap out [react-tiny-virtual-list](react-tiny-virtual-list) for [react-virtualized](https://github

[2018-01-02 12:14] Aidurber commented on #27
Great idea!

[2018-01-02 15:03] AndreBastos23 opened #28 "Item Height"
## Version

## Here's what went wrong:
Is it possible to set the item height as auto? I have diferent values coming from the DB and right now they are overlapping each other, since there is strings that contain only a few characters, and some that are more long.
Very good library btw :)

[2018-01-02 15:09] rheinheimer commented on #26
Another option could be to pass on this need to react-tiny-virtual-list, but react-virtualized looks pretty solid.

[2018-01-02 15:40] Aidurber commented on #26
Another option would be to remove virtual lists completely. The developer can use a render prop with a virtual list if they needed a performance gain with a particularly large list.

I'll give react-virtualized a look to see if I can get it to play nice. But removing them isn't off the table.

[2018-01-02 15:50] Aidurber commented on #28
Hi Andre,
Not currently, this is due to react-tiny-virtual-list. Item heights are required to correctly calculate when an item should render.

There is a discussion in #26 about swapping out react-tiny-virtual-list for react-virtualized. It's offers a wide range of different options such as an autosizer and a cellsizer. I'm going to take a look either tonight or tomorrow night at swapping it out t

[2018-01-02 20:03] Aidurber commented on #28
After swapping out react-tiny-virtual-list for react-virtualized using the CellMeasurer and AutoSizer components. Dynamic heights with the render prop are possible.
I'll be fixing #26 too before it goes out though.

Here is an example (no more cutting off!):
![variable height](https://user-images.githubusercontent.com/5732291/34498106-0538bcb6-eff8-11e7-88dd-a233a50e748b.JPG)

[2018-01-02 21:29] Aidurber commented on #26
@rheinheimer After playing around with react-virtualized, it's not possible to dynamically size the virtual list height based on children.

You can however use a container height. AutoResizer from RV can pass a height prop which is taken from the DOM container the component is positioned in. I don't believe it fill pleasantly fix the issue you're describing.

I could however add a prop that the de

[2018-01-03 01:15] AndreBastos23 commented on #28
That's awesome, that's really what i need.
I Was going to fork this because i need some more customization, but maybe you have interest in doing this.
Right now, you set the string "x selected" statically. I think you should let people decide what to concat when X elements are selected. For example, right now there is no way to change the string values to my native language. I think a simple prop

[2018-01-03 06:50] Aidurber commented on #28
Yeah I can make a prop for that, no problem.

[2018-01-03 07:00] Aidurber opened #29 "Additional prop for x selected"
An additional prop, not sure on the name, maybe `manyDisplayedPlaceholder`.

Not sure if a render prop or a sprintf style  input like:
[code]

The render prop would be called with the number of selected items.

Leaning towards the latter.

[2018-01-03 07:51] Aidurber commented on #28
I think there are only 2 hard coded strings:
- placeholder - which has a prop.
- x selected - which will have a prop.

Do you think the prop would suffice? @AndreBastos23

[2018-01-03 09:36] AndreBastos23 commented on #29
Yes that would suffice.
Do you think its possible to have maybe a prop that instead of saying "X selected" when all are selected, just says another string? For example "All" or something.

[2018-01-03 09:46] Aidurber commented on #29
Yes, since it will be a sprintf style input you could have whatever you want. The API will look like so:
`manyDisplayedPlaceholder="Whatever"`

If you want the number of items selected:
`manyDisplayedPlaceholder="That's %s items selected"`

It would be worth adding yet another prop `allSelectedText` which is shown when all items are selected.

No items selected: `placeholder` OR "None selected" (d

[2018-01-03 09:57] AndreBastos23 commented on #29
Yeah that would be perfect :)

[2018-01-03 18:30] Aidurber commented on #26
@rheinheimer if you pass `virtual={false}` you won't get a virtual list but the plain list will use min-height for dropdown height.

[2018-01-03 18:30] #26 closed

[2018-01-03 18:36] #28 closed

[2018-01-03 19:10] #29 closed

[2018-01-03 19:23] Aidurber opened #31 "Improve composition with compound component"
Placing here for reference.

The component wasn't initially designed for use with virtual lists and render props. Which it should have. Due to this the code needs a refactor to better allow custom rendering.

One approach would be to make it a compound component with an API that might look like:

[code]

Allowing for flexible composition like:
[code]

The current API could still be supported by it

[2018-01-05 01:56] rheinheimer commented on #26
@Aidurber nice, perfect!

[2018-01-10 10:31] AndreBastos23 opened #32 "IE 11 Compatibility"
Hello,

Your library does not work with IE11.
I traced the problem to the "includes" method that you use when verifying the placeholder props. IE11 does not recognize that method. Is it possible to swap to a polyfill alternative?

[2018-01-10 11:35] Aidurber commented on #32
Yes that's possible. Good find, I thought my babel config took care of that, apparently not. Thanks for reporting.

[2018-01-10 11:58] AndreBastos23 commented on #32
If you dont want to change that much code, you can paste the following code on your entry react component. That's what i did to fix this.

`
if (!String.prototype.includes) {
    String.prototype.includes = function (search, start) {
        if (typeof start !== 'number') {
            start = 0;
        }
        if (start + search.length > this.length) {
            return false;
        } else

[2018-01-10 12:02] AndreBastos23 opened #33 "Placeholder Strings"
Following the last issue i opened (#29) regarding the placeholder, there is some more strings that are hard-coded.
They are:

- Select all(should be a prop?)
- None Selected(prop again?)

This way, everyone can use your component in whatever language they need, or using any strings they want.

[2018-01-10 17:22] Aidurber commented on #33
Hi @AndreBastos23 ,
Thanks for the issue.
1. Sorry, I missed that one. Will add a prop now.
2. "None selected" is the `placeholder` prop default. You can override that already.

[2018-01-10 17:34] #33 closed

[2018-01-10 17:49] #32 closed

[2018-01-10 17:52] Aidurber commented on #32
@AndreBastos23 decided to use lodash.includes, that fixes the `Array.prototype.includes` issue in IE11 too.

Sorry about that, fixed in 1.7.1 which is on npm now.

[2018-01-10 18:03] Aidurber commented on #31
After some more research and reading articles by Kent C. Dodds and reading over the documentation. I don't really want to use [React Context](https://reactjs.org/docs/context.html) since the API will change. Not 100% off the table. Thinking more about render props, like [downshift](https://github.com/paypal/downshift) uses.

[2018-01-10 19:12] #27 closed

[2018-01-10 19:17] Aidurber commented on #27
Closed in v1.8.0

[2018-01-12 20:24] Aidurber opened #34 "Make typescript a first class citizen"
Before the great refactor I want to migrate to TypeScript. The strongly typed-ness will come in handy.

I also don't want to keep maintaining the type definition file, (which I've already begun to neglect).

Not too difficult of a task. Just don't break the API.

[2018-01-13 23:58] AndreBastos23 opened #35 "Make number of selected items dynamically"
Is it possible to make the number of selected items necessary to show the message "X selected numbers" dynamic? that is, having a prop that decides what that number should be?

[2018-01-14 15:30] Aidurber commented on #35
@AndreBastos23 can you give me an example? What number would you like it to be?

[2018-01-14 15:40] Aidurber commented on #35
You can pass in any placeholder you wish: [Dynamic placeholder example](https://codesandbox.io/s/mq6n2zv42x)

See the above example, it's a little contrived but lets say I want a placeholder that shows the number of items that have an even ID.

There doesn't need to be another prop for this I don't think.

[2018-01-14 15:42] #34 closed

[2018-01-14 15:46] Aidurber opened #36 "Passing initial value to component shows them selected but the items aren't highlighted"
## Version
1.8.0
## Here's what went wrong:
Passing an initial array of selected items shows the number selected items but the items aren't selected.

[https://codesandbox.io/s/k9no0r2w05](https://codesandbox.io/s/k9no0r2w05)

[2018-01-14 15:50] AndreBastos23 commented on #35
I might be wrong, but right now you only show the "X items selected" placeholder when you have 3 or more items selected.. What if i wanted to show this message with only 1 item selected?

[2018-01-14 15:53] Aidurber commented on #35
Yep, that's the prop :smiley:

[2018-01-14 15:53] Aidurber commented on #35
Yep, that's the prop :smiley:

[2018-01-14 16:09] #35 closed

[2018-01-14 18:45] #36 closed

[2018-01-18 12:17] AndreBastos23 opened #37 "Accessability Improvements"
Hello again Aidurber,

Why does the aria-owns attribute have a invalid value? Is there a reason for it to be empty? And if you have a aria-role attribute in the parent, you should have them on the childrens, according to a colleague of mine. Is there any way for us to fix this?

Regards,
André Bastos

[2018-01-18 16:03] Aidurber commented on #37
Hello again,
My apologies, I know very little WAI-ARIA.
Currently there is no way to override that.
I'll take a look either tonight or tomorrow night. If you and your colleague can think of a quick fix, I'd gladly accept a PR.

Thanks for reporting this issue.

[2018-01-19 01:29] rheinheimer opened #38 "make search box selected by default"
I suggest making the search box selected by default if it is enabled. Click. Start searching.

[2018-01-19 09:53] Aidurber commented on #38
Great idea, thanks @rheinheimer

[2018-01-20 09:52] Aidurber commented on #38
Added an additional prop called `defaultFocusFilter`, set that to true and it will focus the input by default. It's an opt-in feature rather than opt-out.

[2018-01-20 09:52] #38 closed

[2018-01-24 11:44] #31 closed

[2018-03-09 11:20] floorswinkels opened #39 "initialValue problem"
## Version 1.9.0

## Here's what went wrong:
1. Put an initial array in prop value.
2. Next deselect an initial item gives an good onChange result. ( initial array minus 1 )
3. Reset
4. Put an initial array in prop value.
5. Select an new extra item gives a bad onChange result. ( only the selected item without initial array values )

[2018-03-09 11:35] Aidurber commented on #39
Hi @floorswinkels

Thanks for raising this issue, though I'm unable to replicate.

Could you please create a [CodeSandbox](https://codesandbox.io) reproducing the issue.

You can fork this one if that makes it easier:
https://codesandbox.io/s/0p3oxq3150

[2018-03-09 13:23] floorswinkels commented on #39
I can't replicate it in codeSandbox,
but i think I found the problem.

The picky constructor is called before I have the initial data.

Could this cause the problem ?

[2018-03-09 14:56] Aidurber commented on #39
Ahh great assessment. I can replicate now. I'll take a look!

[2018-03-09 16:05] #39 closed

[2018-03-09 16:26] Aidurber commented on #39
@floorswinkels That should now be published.

I hopefully got the release right, semantic-release was playing up and I ended up publishing version 0.0.0 😁

Again, thanks for reporting the issue ⭐️

[2018-03-12 07:39] floorswinkels commented on #39
thanks @Aidurber

It's working now with version 1.9.1 !

[2018-03-12 07:40] Aidurber commented on #39
@floorswinkels Glad to hear it, thanks for letting me know!

[2018-04-24 21:19] pimtel opened #41 "Allow customizing using styled-components"
Hi,

Would be very useful if we could pass a custom class for the component, for the sake to customize it using, for example, styled-component. Currently, it keeps only `.picky' class

[code]
Currently, as I mentioned, `className` is fixed
[code]
It could be something like that:
[code]

Best regards

[2018-04-25 07:07] Aidurber commented on #41
@rgercp Great idea, I'll see what I can do when I finish work today. 👍

[2018-04-25 12:47] rgercp opened #42 "Select all comes true by default on multi-select"
## Version
1.9.1
## Here's what went wrong:
Whatever multi-select I add the select all checkbox comes checked by default. I'm not sure if it is a bug or I'm doing something wrong. The example below illustrate the issue.

[code]

[2018-04-25 13:07] Aidurber commented on #42
Hi @rgercp,

I'm not able to replicate, could you please provide a CodeSandbox, you can use this as a base if it helps: https://codesandbox.io/s/oo8z2qy4my

Alternatively, if you could provide more details in your example:
 - What `options` you are supplying?
 - What is your `onChange`
 - What is your `value`.

It currently looks like it's an error in implementation, not a bug. If you're providing

[2018-04-25 16:46] #41 closed, assigned to nobody

[2018-04-25 16:53] Aidurber commented on #41
Release 1.10.0 is available now.

The support is pretty basic, but it should do:
[code]

[2018-05-01 16:30] Aidurber commented on #42
@rgercp Did you work out your issue, is it a bug or did you do something wrong?

[2018-05-06 20:08] Aidurber commented on #42
Closing - No reproduction.

[2018-05-06 20:08] #42 closed

[2018-07-18 08:34] Aidurber opened #48 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-07-18 11:49] Aidurber commented on #48
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-07-18 15:29] #48 closed

[2018-09-04 22:24] karankumar89 opened #60 "MultiSelect max limit for options"
I was trying to figure out how to limit the number of selections in the multiselect option. For example: if my total number of options are 6, but the user should not select more than 3.

[2018-09-05 08:04] Aidurber commented on #60
Hi @karankumar89
You can prevent the selection of additional items in the onChange callback. Just don't update your state if the length is greater than a certain amount:

[code]

https://codesandbox.io/s/5wmqw8m24n
There is a little weirdness, if you look at the above link the value that is console logged doesn't reflect the number of items selected. This is because the component maintains its own

[2018-09-05 08:04] #60 closed

[2018-09-05 22:19] karankumar89 opened #63 "Disable options"
Hello!

I've been playing around with certain ideas with the options and i was wondering if there is a way to disable certain options?

Thanks,
Karan Kumar

[2018-09-06 18:43] Aidurber commented on #63
Hi @karankumar89

I would use the render prop to render custom list items then disable them as needed. On your array of items you can add a disabled property and reference that:

[code]

The example uses: https://www.npmjs.com/package/classnames

I've not tested the above code but it should put you on the right track. I hope this helps 👍

[2018-09-06 18:43] #63 closed

[2018-10-11 15:29] sureshbakshi opened #68 "select all is not working properly"
## Version

## Here's what went wrong:

when I click on  **select all** it is selecting all options but when I de-select any option **select all** is not unchecked.it is in checked status and in the placeholder also showing selected all.
![alloptions](https://user-images.githubusercontent.com/19382918/46815448-91d24600-cd98-11e8-864f-d861f1c3d1cb.PNG)
![notalloptions](https://user-images.githubuse

[2018-10-11 17:38] Aidurber commented on #68
Hi @sureshbakshi , can you provide me with some code so I can take a look? A [CodeSandbox](https://codesandbox.io/) or a demo repository would be ideal.

[2018-10-14 08:13] Aidurber commented on #68
I figured it out.

**Test plan**
 - Select all values
 - Deselect a single value
 - Placeholder should update from 'All selected'
 - Select all button should not be checked

[2018-10-14 09:02] Aidurber commented on #68
:tada: This issue has been resolved in version 2.0.6 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-picky)
- [GitHub release](https://github.com/Aidurber/react-picky/releases/tag/v2.0.6)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-10-15 16:40] karankumar89 opened #73 "Picky Dropdown retains the filtered list when re-opened."
## Version
2.0.5

## Here's what went wrong:
When you select the dropdown, type a search string on the filter and close the dropdown and open it again - the dropdown shows the filtered list with the filter input empty. The only way to get back to the original state (options) is to type in something and then manually delete it.

You can test it out in the sandbox: https://codesandbox.io/s/qq1689zk3

[2018-10-15 17:28] Aidurber opened #74 "Select all checkbox unchecked after Select All > Deselect one > Reselect one"
## Version
< 3.0.0
## Here's what went wrong:
 - Select all
 - Deselect a single value
 - Reselect the single value
 - Note the select all checkbox is unchecked even when all items are selected

Related to #68

[2018-10-15 18:20] Aidurber commented on #73
:tada: This issue has been resolved in version 3.0.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-picky)
- [GitHub release](https://github.com/Aidurber/react-picky/releases/tag/v3.0.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-10-15 18:20] Aidurber commented on #73
@karankumar89 A new release is building now.
You should be safe to upgrade to v3.0.1, it shouldn't have been a major bump.

[2018-10-15 19:02] karankumar89 commented on #73
@Aidurber Thats a quick response. Thanks for fixing it. I'll take the new version. Yea it would be nice to get the additional prop.

[2018-10-15 21:33] karankumar89 commented on #73
@Aidurber Hey i updated to the v3.0.1 but looks like the issue is still there, is it supposed to fixed from the library or should i do something from my end by using the onFilterChange prop?

[2018-10-15 21:41] karankumar89 commented on #73
![image](https://user-images.githubusercontent.com/10858252/46980055-4665b380-d088-11e8-9a84-6ec242473263.png)

![image](https://user-images.githubusercontent.com/10858252/46980099-68f7cc80-d088-11e8-965e-a19ea61a5af2.png)

[2018-10-16 05:16] Aidurber commented on #73
Hmm I wonder if I messed up the build. I'll investigate later.

[2018-10-16 10:56] sureshbakshi commented on #68
Great, it got fixed in the new version. Thanks, @Andrew Durber

[2018-10-16 11:06] arun567 opened #76 "MutiSelect checkboxes clicking not working properly"
## Version
2.0.5

## Here's what went wrong:

In MutiSelect, When I Click on any of checkbox it is hitting onChange two times. Due to this if I write an API calling in onChange method then it is firing two times. Instead of clicking on checkbox if I click on lable in <**li**> then it is working fine.

[2018-10-16 15:39] Aidurber commented on #76
Hi @arun567
Weird bug but I can replicate, I'll take a look.
Thanks for raising!

[2018-10-16 15:56] karankumar89 commented on #73
Sounds Good! I'll wait for the change :sunglasses:

[2018-10-16 18:38] #73 closed

[2018-10-16 18:42] Aidurber commented on #73
:tada: This issue has been resolved in version 3.0.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-picky)
- [GitHub release](https://github.com/Aidurber/react-picky/releases/tag/v3.0.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-10-16 18:42] Aidurber commented on #76
:tada: This issue has been resolved in version 3.0.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-picky)
- [GitHub release](https://github.com/Aidurber/react-picky/releases/tag/v3.0.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-10-16 18:43] Aidurber commented on #73
Thanks @karankumar89
There's plenty to be improved, for large lists I'd recommend using:
https://github.com/clauderic/react-tiny-virtual-list
or the larger but with more flexibility:
https://github.com/bvaughn/react-virtualized

With > 500 items you will notice a lag, less so in a production build of React.

Regardless, I appreciate your kind words! :)

You were right, by the way, the issue wasn't

[2018-10-16 20:43] arun567 opened #78 "Selected values are not getting updated from outside of onChange event"
## Version
2.05.

## Here's what went wrong:

<Picky
   value={this.state.selectedModel}
   onChange={this.handleModel}
   multiple={true}

=> Select one value in picky
=> Update the state from outside function and assign the empty value. i.e, selectedModel = [];
=> Select another value in picky
=> See, Instead of one value is selected its getting two values selected

[2018-10-16 21:02] arun567 commented on #76
Hi Andrew Durber,

Bug still exist when you select and deselect "All" option.I mean when includeSelectAll={true}

[2018-10-17 13:11] misterbridge opened #79 "Object options with valueKey is not working"
## Version
3.0.2

## Here's what went wrong:
Setting an array of objects as `options` with a `valueKey` to define wich key are the values and setting an array of `value` doesnt work (none get checked)
There is a least a bug in :
[code]
because `hasItem` has the 2 last arguments reversed (`valueKey` THEN `labelKey`):
[code]

But setting `valueKey` and `labelKey` as the options' label and `value` as

[2018-10-18 17:28] Aidurber commented on #79
Hi @misterbridge
Good spot on the isItemSelected.

I'm unable to understand what you mean with your issue? Can you give me a code example please?

[2018-10-18 17:45] Aidurber commented on #78
This is because Picky maintains an internal state, it's more trouble than it's worth. I'm going to work on a major release making Picky a controlled component only, I can't think of any value it provides being an uncontrolled component, and it causes bugs like this when props and state get out of sync.

[2018-10-18 18:48] #76 closed

[2018-10-18 18:51] Aidurber commented on #76
:tada: This issue has been resolved in version 3.0.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-picky)
- [GitHub release](https://github.com/Aidurber/react-picky/releases/tag/v3.0.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-10-18 19:04] Aidurber commented on #76
:tada: This issue has been resolved in version 4.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-picky)
- [GitHub release](https://github.com/Aidurber/react-picky/releases/tag/v4.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-10-19 07:59] misterbridge commented on #79
Hey @Aidurber,
As of the bug on isItemSelected I tried with switching `valueKey` and `labelKey` in my props but it was still not working.
I guess all I ask for is, when you'll fix the isItemSelected bug, try using it (an object as `options` + a `valueKey` + a `labelKey`) to be sure it works.

Thanks for this component, it's really nice !

[2018-10-21 13:47] Aidurber commented on #79
@misterbridge
See: https://codesandbox.io/s/747z71zpxj

That is using an array of objects with the labelKey and value key, it's working.
Try version 4 and let me know if you're still having the same issue. If you are can you provide me with some code?

Thank you :)

[2018-10-21 13:51] Aidurber commented on #78
@karankumar89 @arun567

I think I get what you mean. Though it might be an issue with your state, not Picky. If you're modifying the value externally, that state is the single source of truth for Picky.

See: https://codesandbox.io/s/747z71zpxj

I check to see if the item exists before adding it.

If I'm not quite on the same wavelength as you two, can you provide a simple CodeSandbox so I can inv

[2018-10-22 18:34] karankumar89 commented on #78
@Aidurber Yea you're on the same track but mine was a different use case. I retried the steps and i think its been fixed in the **v4.0.1**.  The steps to reproduce is-

- Select All Elements
- Click on Add Button (only item3 and item4 are selected)
- Select options that are not selected (ex: item 5)
- v3.0.2 all elements get selected instead of just one (item 5)

### v4.0.1
https://codesandbox.io/

[2018-10-22 20:01] Aidurber commented on #78
@karankumar89 Ahhh I see! Thanks for the reproduction steps.
I'll take a look tomorrow some time.

[2018-11-13 02:58] greenkeeper[bot] opened #85 "An in-range update of react is breaking the build 🚨"
## There have been updates to the *react* monorepo:

 + - The `devDependency` [react](https://github.com/facebook/react) was updated from `16.6.1` to `16.6.2`.
- The `devDependency` [react-dom](https://github.com/facebook/react) was updated from `16.6.1` to `16.6.2`.

🚨 [View failing branch](https://github.com/Aidurber/react-picky/compare/master...Aidurber:greenkeeper%2Fmonorepo.react-16.6.2).

Th

[2018-11-19 14:18] misterbridge commented on #79
Looks like it works, thanks !

[2018-11-19 14:18] #79 closed

[2018-12-07 21:03] anton-eav opened #86 "add placeholder filter"
## Version

## Here's what went wrong:

[2018-12-09 19:48] #85 closed

[2018-12-09 19:52] Aidurber commented on #86
New prop added `filterPlaceholder` to override the filter placeholder. Defaults to 'Filter...'. Available in version 4.1.0

[2018-12-09 19:52] #86 closed

[2018-12-09 20:48] anton-eav commented on #86
Thank you very much

[2019-01-08 04:36] wlamnz opened #92 "Programatically changing the state to select all values does not set the select all checkbox"
## Version
4.1.0

## Here's what went wrong:
Seems like there is a synchronization issue where if the state is changed to select all values, the 'Select all' button (if enabled) is not checked.

See here to reproduce the bug:
https://codesandbox.io/s/9351z3moqr

1. Click on the **Select** button at the top, which will select Item 1 and Item 2. Notice the **Select all** button is not checked but it

[2019-01-08 18:34] Aidurber commented on #92
:tada: This issue has been resolved in version 4.1.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-picky)
- [GitHub release](https://github.com/Aidurber/react-picky/releases/tag/v4.1.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-08 20:48] wlamnz commented on #92
@Aidurber Thanks for your quick effort. However, I just tested the issue on 4.1.1 and I still seem to have the same problem. The **Select all** checkbox is still not being set once all the values in the dropdown are set.

See below:
![image](https://user-images.githubusercontent.com/33530979/50857786-858b7280-13f3-11e9-8401-b09389bcac7d.png)

[https://codesandbox.io/s/5w2yq84xql](url) (4.1.1 versi

[2019-01-08 21:02] Aidurber commented on #92
😕 I had it working correctly and even wrote tests around it. Back to the drawing board!

[2019-01-09 16:51] Aidurber commented on #92
Hi @wlamnz, I figured it out. The codesandbox you sent was using React and React-DOM `16.0.0`.

Picky has a dependency on React > `16.3.0` since it's using the `UNSAFE_*` lifecycle methods. See this for reference: [https://reactjs.org/blog/2018/03/29/react-v-16-3.html](https://reactjs.org/blog/2018/03/29/react-v-16-3.html)

If you're using 16.0.0 in your app you might want to consider bumping to 1

[2019-01-09 16:51] #92 closed

[2019-01-09 16:55] Aidurber commented on #78
@karankumar89 @arun567 Closing this. In the codesandboxes they were using React 16.0.0. The library depends on > 16.3.0

See https://github.com/Aidurber/react-picky/issues/92#issuecomment-452767921

Unable to replicate any of the above issues on the new 4.1.1 release with React > 16.3.0

[2019-01-09 16:55] #78 closed

[2019-01-10 01:40] wlamnz commented on #92
Ah, that makes a lot sense. Thanks for that!

[2019-01-28 09:21] erokhin74 opened #94 ""Select all" checkbox is not checked when all the items are selected"
## Version
4.1.1
## Here's what went wrong:
Initial state: There are 2 items in the list and select-all-checkbox, all the items are selected and select-all-checkbox is checked.
1. Unselect FIRST item, select-all-checkbox is unchecked. It is correct.
2. Select FIRST item again, select-all-checkbox is unchecked. It is incorrect - select-all-checkbox should be checked.

At selecting/unselecting the s

[2019-01-29 17:52] Aidurber commented on #94
@erokhin74 Make sure you're using a React version higher than 16.3.0. I'll update the existing codesandboxes.

[2019-01-30 06:13] erokhin74 commented on #94
My current React version is "16.4.2". It is higher than 16.3.0.

[2019-01-31 22:08] alturium opened #96 "More styling control for picky__input (trigger button)."
## Version
4.1.2
## Here's what went wrong:
Would like to control the css style of the button classname="picky__input" such as when the dropdown is opened, the background color is changed.  Motivation: using Atlaskit and Reactstrap, but fall short for long dropdown lists (checkboxes), and need to use their style for the Picky component.

Possible solutions:
- Add prop for triggerButtonProps for tr

[2019-02-08 10:31] justin22 commented on #96
@Aidurber Is there any way to control the background color/border-color of the checkbox/radio when selected?

[2019-02-08 17:36] Aidurber commented on #96
@alturium Happy to accept a PR for that.

@justin22 I'd recommend using a render prop, see [Custom Rendering](https://github.com/Aidurber/react-picky#custom-rendering-1)

You can use render props for:
 - Select all
 - Individual options
 - The whole list

If you need to go further than that [Downshift](https://github.com/downshift-js/downshift) is super flexible.

[2019-02-11 22:31] greenkeeper[bot] opened #98 "An in-range update of react-testing-library is breaking the build 🚨"
## The devDependency [react-testing-library](https://github.com/kentcdodds/react-testing-library) was updated from `5.6.0` to `5.6.1`.

🚨 [View failing branch](https://github.com/Aidurber/react-picky/compare/master...Aidurber:greenkeeper%2Freact-testing-library-5.6.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

react-

[2019-02-12 18:14] #98 closed

[2019-02-15 22:27] lauracabre opened #101 "How can I pass the event to the selectMultipleOption method, and not only the value?"
How can I pass the event object to the selectMultipleOption method, and not only the value selected?

[2019-02-20 19:59] Aidurber commented on #101
As in return the last selected option?

If so then I don't believe that's possible, the component maintains very little of its own state. All the currently selected options get returned so the developer can pass them back in a props. Picky is a 100% controlled component so the component that is using Picky is the source of truth for the data.

There are ways but none of them are particularly nice,

[2019-02-20 19:59] #101 closed

[2019-02-27 15:42] Misza508 opened #103 "Problem with sellect all work opposite to expected"
## Version
4.1.2 use with TypeScript
## Here's what went wrong:
I have a problem with sellect all, default is checked even when pass to the value props empty array. After select one value is unchecked and work fine. But when i pass to the props array with all selected value in opstions  sellect all is unchecked.

[2019-03-05 15:09] prabhakaran-vs opened #104 "issue with renderList custom function"
I want to add "Clear All" Option in list. But facing issue

[code]

[code]

**Issue**: Its rendering as expected but When i select multiple value and unselect the values one by one. list is getting closed.
Ex: if i selected 4 items, and if i unselect any one item then the list is getting closed. again i have to open the list to unselect another item.

**Expected**: It should keep open the list unt

[2019-03-06 17:46] Puneetbh opened #105 "Need custom data onChange of value"
I am using react-picky in loop and displaying multiple dropdowns using package, my requirement is i need custom data onChange of value so i can use it to make generic handleOnChange method. Please suggest how can i get custom data related to dropdown

[2019-03-06 20:26] Aidurber commented on #105
@Puneetbh I'll need an example, I don't get what you mean.

[2019-03-06 20:30] Aidurber commented on #104
Try passing `keepOpen={true}` to your `<Picky>` component. [Prop descriptions](https://github.com/Aidurber/react-picky#prop-descriptions)

[2019-03-06 20:31] Aidurber commented on #103
Can you show me a code sample? Preferably a [CodeSandbox](https://codesandbox.io)

[2019-03-07 07:33] Puneetbh commented on #105
i have array of objects and with loop i am displaying react-picky dropdown by passing options, now i am passing common generic onchange method to in onChange property, inside that i want to know which dropdon valud changed so i can update state accordingly

Like if country changed by user i want to know user changed country then i will update state of country so want to get some additional data wh

[2019-03-08 06:43] Puneetbh commented on #105
@Aidurber  i got the solution, Thanks

[2019-03-08 06:43] #105 closed

[2019-03-12 14:01] Misza508 commented on #103
I'm solved the problem it was nothing to do with library. Issuse to close

[2019-03-12 14:13] Aidurber commented on #103
Glad you got it sorted 🎉

[2019-03-12 14:13] #103 closed

[2019-03-13 14:21] greenkeeper[bot] opened #106 "An in-range update of enzyme is breaking the build 🚨"
## There have been updates to the *enzyme* monorepo:

 + - The `devDependency` [enzyme](https://github.com/airbnb/enzyme) was updated from `3.8.0` to `3.9.0`.
- The `devDependency` [enzyme-adapter-react-16](https://github.com/airbnb/enzyme) was updated from `1.9.1` to `1.10.0`.

🚨 [View failing branch](https://github.com/Aidurber/react-picky/compare/master...Aidurber:greenkeeper%2Fmonorepo.enzyme-

[2019-03-13 15:34] greenkeeper[bot] opened #107 "An in-range update of enzyme is breaking the build 🚨"
## There have been updates to the *enzyme* monorepo:

 + - The `devDependency` [enzyme](https://github.com/airbnb/enzyme) was updated from `3.8.0` to `3.9.0`.
- The `devDependency` [enzyme-adapter-react-16](https://github.com/airbnb/enzyme) was updated from `1.9.1` to `1.10.0`.

🚨 [View failing branch](https://github.com/Aidurber/react-picky/compare/master...Aidurber:greenkeeper%2Fmonorepo.enzyme-

[2019-03-13 20:56] greenkeeper[bot] opened #108 "An in-range update of enzyme is breaking the build 🚨"
## There have been updates to the *enzyme* monorepo:

 + - The `devDependency` [enzyme](https://github.com/airbnb/enzyme) was updated from `3.8.0` to `3.9.0`.
- The `devDependency` [enzyme-adapter-react-16](https://github.com/airbnb/enzyme) was updated from `1.10.0` to `1.11.0`.

🚨 [View failing branch](https://github.com/Aidurber/react-picky/compare/master...Aidurber:greenkeeper%2Fmonorepo.enzyme

[2019-03-13 21:10] greenkeeper[bot] opened #109 "An in-range update of enzyme is breaking the build 🚨"
## There have been updates to the *enzyme* monorepo:

 + - The `devDependency` [enzyme](https://github.com/airbnb/enzyme) was updated from `3.8.0` to `3.9.0`.
- The `devDependency` [enzyme-adapter-react-16](https://github.com/airbnb/enzyme) was updated from `1.10.0` to `1.11.0`.

🚨 [View failing branch](https://github.com/Aidurber/react-picky/compare/master...Aidurber:greenkeeper%2Fmonorepo.enzyme

[2019-03-13 21:13] greenkeeper[bot] opened #110 "An in-range update of enzyme is breaking the build 🚨"
## There have been updates to the *enzyme* monorepo:

 + - The `devDependency` [enzyme](https://github.com/airbnb/enzyme) was updated from `3.8.0` to `3.9.0`.
- The `devDependency` [enzyme-adapter-react-16](https://github.com/airbnb/enzyme) was updated from `1.10.0` to `1.11.0`.

🚨 [View failing branch](https://github.com/Aidurber/react-picky/compare/master...Aidurber:greenkeeper%2Fmonorepo.enzyme

[2019-03-18 01:57] mkelley33 opened #111 "How to mock generateGuid for snapshot tests"
## Version
4.1.2

## Here's what went wrong:
I'm attempting to do snapshot testing of a component that uses react-picky, but the snapshots
fail to match each time they're run, because generateGuid in lib/utils is generating a new guid
in parts of the markup.  Do you know how to mock this behavior in jest or could you provide a way to get around it?

[2019-03-19 01:48] Vadimkin commented on #111
Hi @mkelley33!

You have to mock `utils` module. Try to use it before first `describe()` method. I don't know about better solution. I also tried to create `__mocks__` directory (see [manual mocks](https://jest-bot.github.io/jest/docs/manual-mocks.html)) with mocked module and inherit all other methods, but it wasn't successful.

`Picky.test.js` (before first `describe()`):
[code]

You have to che

[2019-03-19 17:15] #106 closed

[2019-03-19 17:15] #107 closed

[2019-03-19 17:15] #108 closed

[2019-03-19 17:15] #109 closed

[2019-03-19 17:15] #110 closed

[2019-03-19 17:19] Aidurber commented on #111
Thanks @Vadimkin

Picky could probably worth without the generated ID, it was just for the ARIA stuff, which I know embarrassingly little about. There is perhaps a more elegant way to deal with it, maybe using refs. 🤷‍♂️

[2019-03-19 17:19] Aidurber commented on #104
@prabhakaran-vs Did keepOpen work for you?

[2019-03-25 15:56] ranjithartler opened #112 "Disabled attribute not working"
## Version
"react": "^16.8.3",
"react-picky": "^4.1.2"

## Here's what went wrong:
I'm exploring react-picky and it works pretty well but I have one scenario where I need to disable select(react-picky) on edit form so, I tried **HTML disabled attribute** as well as **react-select isDisabled** and both are not working. so what I need to do to make it work

[2019-03-25 21:37] #112 closed

[2019-03-25 21:40] Aidurber commented on #112
:tada: This issue has been resolved in version 4.2.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-picky)
- [GitHub release](https://github.com/Aidurber/react-picky/releases/tag/v4.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-28 16:01] mkelley33 commented on #111
👍 thank you!

[2019-03-28 16:30] #111 closed

[2019-03-30 09:34] #104 closed

[2019-04-03 08:43] pokidovea opened #114 "Separate styles for placeholder and selected items"
## Version 4.2.0

## Here's what went wrong:
The default text looks like a selected option. It would be better if the placeholder text had it's own style.

[2019-04-04 06:32] pokidovea opened #115 ""Select all" is checked, when options are not loaded yet"
## Version 4.2.0

## Here's what went wrong:
initial state:
[code]
No options to show.
I'm sending a request in componentDidMount of my component. The state changes to
[code]
There are options, but no one selected. "Select all" is checked.
It looks like react-picky doesn't listen changes of options prop.

[2019-04-06 08:15] Aidurber commented on #114
@pokidovea Do you have an example of what it should look like?

[2019-04-06 08:24] #115 closed

[2019-04-06 08:35] Aidurber commented on #115
:tada: This issue has been resolved in version 4.2.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-picky)
- [GitHub release](https://github.com/Aidurber/react-picky/releases/tag/v4.2.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-04-07 20:06] pokidovea commented on #114
See [this](https://codesandbox.io/s/n78j6955lj), please. Default text should have a color, which shows, that it is not selected option, but just a placeholder. But when you choose an option, the text should have current color.

[2019-04-10 07:17] greenkeeper[bot] opened #117 "An in-range update of rollup is breaking the build 🚨"
## The devDependency [rollup](https://github.com/rollup/rollup) was updated from `1.9.2` to `1.9.3`.

🚨 [View failing branch](https://github.com/Aidurber/react-picky/compare/master...Aidurber:greenkeeper%2Frollup-1.9.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

rollup is a devDependency of this project. It **might n

[2019-04-10 10:25] #117 closed

[2019-04-15 13:52] sdei-lovepreet opened #118 "onChange function for filter"
I have a very large list of options that is making my dropdowns hang. so, I want a onChange function for filter field, so that i can pass options to that dropdown on the basis of text in filter field.

Thanks in Advance

[2019-04-15 16:35] Aidurber commented on #118
Happy to accept a pull request

[2019-04-17 10:37] sdei-lovepreet commented on #118
Hello @Aidurber, I am unable to do this. can you please do this for me?

[2019-04-17 11:35] Aidurber commented on #118
Hi @sdei-lovepreet , no, I have no interest in working on react-picky at this moment in time. I have other projects I wish to work on, as well as my job.

If your list is very large I would recommend using the `renderList` prop with https://github.com/bvaughn/react-window so you're only rendering a subset of the data.

[2019-04-17 12:52] sdei-lovepreet commented on #118
@Aidurber, I have found onFilterChange in react-picky's source code. but it is not working for me. can you please let me know how to use it, on typing into the filter?

[2019-04-18 08:11] sdei-lovepreet commented on #118
Hello @Aidurber, I have forked, added functionality and created a pull request. Please merge it ASAP.

[2019-04-18 08:50] #118 closed

[2019-04-18 08:53] Aidurber commented on #118
:tada: This issue has been resolved in version 4.3.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-picky)
- [GitHub release](https://github.com/Aidurber/react-picky/releases/tag/v4.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-04-18 09:14] Aidurber commented on #118
@sdei-lovepreet Also, just re-read your changes. Don't you need to return after calling `getFilterValue`? The built-in onFilterChange stuff will do its thing if you don't return.

[2019-04-18 09:28] sdei-lovepreet commented on #118
No need of return, just keep the other stuff as it was.
Thanks for adding it.
Cheers !!!!!

[2019-04-25 10:03] Airboy opened #125 "getFilterValue method is a mandatory props, but it should not"
## Version 4.2.0 (latest)
Note that this issue is encountered with TypeScript.

## Here's what went wrong:
The `getFilterValue` method is a mandatory props within the definition of the types `index.d.ts`, causing some issues with TypeScript. Proving this method should be optional.

Let me know if you want me to update the types file.

[2019-04-25 22:30] karankumar89 opened #127 "Always open props for multiselect"
Is there a way by using any of the props we can force the dropdown to be always open and override any close methods. So it basically behaves like a checkbox.

[2019-04-26 17:13] benkotch opened #128 "Checkboxes not checking/unchecking as expected"
## Version
4.4.0
## Here's what went wrong:
Clicked on a field (div next to checkbox)

**Expected Behavior**
If already selected, checkbox changes to unselected
If not selected, checkbox changes to selected

**Actual Behavior**
Checkbox does not change state
Note: Submitted values are correct, this is just a UI issue.

The UI state stays the same while the selected value changes.
<img width="213"

[2019-04-27 12:18] Aidurber commented on #127
`keepOpen` - Default true. Single selects close automatically when selecting a value unless this is set to true.

There is also the `open` prop, set it to true and it will always stay open.

[2019-04-27 12:18] #127 closed

[2019-04-27 12:18] #125 closed

[2019-04-27 12:20] Aidurber commented on #125
:tada: This issue has been resolved in version 4.4.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-picky)
- [GitHub release](https://github.com/Aidurber/react-picky/releases/tag/v4.4.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-04-27 12:34] Aidurber commented on #128
@benkotch Thanks for reporting this and I'm sorry that I broke it. PR is building now with a fix. Should be working again shortly.

[2019-04-27 12:36] #128 closed

[2019-04-27 12:38] Aidurber commented on #128
:tada: This issue has been resolved in version 4.4.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-picky)
- [GitHub release](https://github.com/Aidurber/react-picky/releases/tag/v4.4.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-04-29 15:20] benkotch commented on #128
@Aidurber thanks so much for the fast fix!

[2019-05-03 08:20] Ihsan1122 commented on #128
@benkotch
sir, can you please guide me how are you making the already selected check boxes ?
Becasue i have updated the library but still cannot be able to change the UI state.

[2019-05-03 08:53] Ihsan1122 opened #132 "(React - Picky) I have updated the library but still cannot be able to change the UI state"
react-picky

If already checked
Checkbox does not change state
Note: Submitted values are correct, this is just a UI issue.

[2019-05-04 07:25] Aidurber commented on #132
@Ihsan1122 Can you share a codesandbox or some code please?

[2019-05-04 08:37] Ihsan1122 commented on #132
@Aidurber  thanks for your response sir,

  <div>

                <Picky
                    options={this.state.employerTeams}
                    valueKey="_id"
                    labelKey="name"
                    value={this.state.selectedTeams}
                    multiple={true}
                    includeSelectAll={false}
                    includeFilter={true}
                    onCha

[2019-05-04 09:10] Aidurber commented on #132
@Ihsan1122 I see what you've done.

1. You're mutating the isSelected inside the render, though not necessarily an issue it shows you're bypassing the functionality of Picky. Trust Picky to handle your isSelected.
2. Call selectValue with the item `selectValue(item)`, update your state with the `onChange`. That feeds back into picky and makes sure `isSelected` is correct.
3. For selecting the item

[2019-05-04 09:10] #132 closed

[2019-05-04 10:02] Ihsan1122 commented on #132
@Aidurber  sir thanks for your great help.

It means a lot to me.

[2019-05-08 19:06] randymorris commented on #94
I think there are potentially two issues here.

First, in `Picky.UNSAFE_componentWillReceiveProps`, the assumption is made that if the `props.value` is the same between current and next props, then the set of props is equal.  It doesn't consider that `props.options` may differ.

Second, in `Picky.allSelected` - again, only the value is considered.

I think that if we were to check both options and

[2019-05-09 12:13] randymorris opened #134 ""Select all" state incorrect after rerendering with additional options"
## Version
4.4.2

## Here's what went wrong:
Exactly as described in the title.  An example of this: https://codesandbox.io/s/43mvlo01k0.

Initially I thought this was related to #94 and had added some comments to that ticket but after fixing my issue I found that these are unrelated.  I have since deleted those comments as they aren't helpful there.  The useful info from those comments:

Pull req

[2019-05-09 14:50] andreeatirgovatu opened #136 "How to add multiple instances of react-picky?"
## Version
Latest
## Here's what went wrong:
I tried to inject two or many instances of react-picky in my code  and the selected values from the first one  are displayed in the second one.
eg: https://codesandbox.io/s/xrom2pk98w
How can I fix it?

Thank you!

[2019-05-10 09:26] Aidurber commented on #136
The `value` prop should point to a different piece of state:
[code]

Then your state would look like:
[code]

[2019-05-10 09:26] #136 closed

[2019-05-10 09:27] #134 closed

[2019-05-10 09:30] andreeatirgovatu commented on #136
Thank you a lot

[2019-05-10 09:30] Aidurber commented on #134
:tada: This issue has been resolved in version 4.4.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-picky)
- [GitHub release](https://github.com/Aidurber/react-picky/releases/tag/v4.4.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-14 14:43] randymorris commented on #94
After some more thinking about this specific issue, I think I've figured out why this happens.

Whenever the select all state is checked, order of options and values is expected to be the same.  However, whenever an item is added to the values it is added to the end of the list.  Thus, if we have options = `[1, 2, 3]` and values = `[1, 2, 3]` the select all state would be correct.  If we uncheck `

[2019-05-15 10:08] greenkeeper[bot] opened #137 "An in-range update of rollup is breaking the build 🚨"
## The devDependency [rollup](https://github.com/rollup/rollup) was updated from `1.11.3` to `1.12.0`.

🚨 [View failing branch](https://github.com/Aidurber/react-picky/compare/master...Aidurber:greenkeeper%2Frollup-1.12.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

rollup is a devDependency of this project. It **migh

[2019-05-15 10:49] ranjithartler opened #139 "How to clear selected value in single select?"
## Version
"react": "^16.8.3",
"react-picky": "^4.1.2"

## Here's what went wrong:
How to clear selected value in single select? I have explored and tried but not works.

[2019-05-16 10:54] pokidovea commented on #139
I join the question

[2019-05-17 19:19] Aidurber commented on #139
@ranjithartler @pokidovea The same way you would with a regular HTML select, either set the value to undefined from an external event:
https://codesandbox.io/s/simple-example-multi-and-single-select-dpgk7

Or add an option to the beginning of your items with a value of undefined:
https://codesandbox.io/s/simple-example-multi-and-single-select-h5jex

[2019-05-17 19:19] #139 closed

[2019-05-17 19:20] #94 closed

[2019-05-17 19:22] Aidurber commented on #94
:tada: This issue has been resolved in version 4.4.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-picky)
- [GitHub release](https://github.com/Aidurber/react-picky/releases/tag/v4.4.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-17 21:17] loansMortgagesAggregator opened #142 "close dropdown inside dropdown"
## Version
4.4.4
## Here's what went wrong:

Let's say we have a custom rendered list with a close button in the bottom of the dropdown for closing it. Is it possible to accomplish this ? I played around with the open prop in Picky but it didn't seem to work

[2019-05-19 16:18] Aidurber commented on #142
Can you provide a CodeSandbox?

[2019-05-20 15:39] #137 closed

[2019-05-28 13:20] #142 closed

[2019-06-05 02:37] arokia commented on #127
But if you click outside it gets closed

[2019-06-06 12:55] greenkeeper[bot] opened #150 "An in-range update of rollup is breaking the build 🚨"
## The devDependency [rollup](https://github.com/rollup/rollup) was updated from `1.14.2` to `1.14.3`.

🚨 [View failing branch](https://github.com/Aidurber/react-picky/compare/master...Aidurber:greenkeeper%2Frollup-1.14.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

rollup is a devDependency of this project. It **migh

[2019-06-07 11:36] priyankaviswan commented on #105
Hi Aidurber,

I have recently downloaded the picky and have used it inside a map function to loop through my dynamic data. In the picky i have set multiselect as true.
How ever on the onchange function am getting only the currently selected value and not the list of values selected for picky.

This is the sample code:
{
sectorsData.map((selectItem, i) => (
 <Picky value={assetsAddedState[selectIte

[2019-06-07 11:45] priyankaviswan opened #151 "Not getting the list of selected values on setting multiselect as true in dynamic picky"
## Version
4.4.5
## Here's what went wrong:
Hi Aidurber,

I have recently downloaded the picky and have used it inside a map function to loop through my dynamic data. In the picky i have set multiselect as true.
How ever on the onchange function am getting only the currently selected value and not the list of values selected for picky.

This is the sample code:
{
sectorsData.map((selectItem, i) =>

[2019-06-07 13:42] Aidurber commented on #151
Can you please provide a Code Sandbox, you can use this as the base:
https://codesandbox.io/s/6o6y0

[2019-06-07 13:42] #150 closed

[2019-06-08 18:04] priyankaviswan commented on #151
Hi Aidurber,
Thank you for the response,
I have used the base provided by you to share the code and please find it below.

https://codesandbox.io/embed/picky-demo-l8gpj

Also, I referred the resolved issues to see if I can get some help and found an issue similar to this #136 but its single select which works fine. In my case, it is the multi-select that is causing the issue and the issue persists

[2019-06-11 14:39] priyankaviswan commented on #151
Hi Aidurber,
Could you please check my code base and see what's the root cause, thanks in advance

[2019-06-21 14:28] yoshegg opened #152 "How to apply class to button only?"
I want to apply the standard bootstrap button design (`dropdown-toggle bnt btn-info`) to the button (class `picky__input`). How can I do that?

[2019-07-04 11:50] kailash-joshi opened #156 "Focus on dropdown using Tab highlights dropdown list"
<img width="350" alt="picky" src="https://user-images.githubusercontent.com/34671725/60664525-d1d5dd80-9e7f-11e9-927a-4d86c70d9a3c.PNG">

## Version
"react-picky": "^4.4.5"

## Here's what went wrong:

When i land on dropdown from other element(say input box), react-picky is highlighted but the dropdown list is also highlighted without showing the list.
Attaching the screenshot for better understa

[2019-07-07 10:48] denisbykovopen opened #157 "Cannot get current state"
## Version
latest

## Here's what went wrong:
cannot get the current state. It works only from the second one.

## Example
https://codesandbox.io/s/h6vmd

[2019-07-07 18:09] Aidurber commented on #157
Hi @denisbykovopen,
Not sure I completely follow, are you talking about your `console.log` in the onChange?

[code]

If so,  `setState` in React is asynchronous so you will see the current value, not the updated value in the console log.

There is a second argument to `setState` which is called after the new state has been set:
[code]

[2019-07-08 11:49] denisbykovopen commented on #157
Hello and thank you for your answer at first. And sorry for my newbie misunderstanding of the subject.
If so, cannot you explain, or better show in example how to get the current value in your component to the state? Because i need the current array of values to work with.

[2019-07-08 17:24] Aidurber commented on #157
You've already gotten the value:
https://codesandbox.io/s/simple-select-dgtjq

`this.state.arrayValue` is the selected value.

[2019-07-08 18:20] Aidurber commented on #152
I've added a prop called buttonProps so you can pass className to the button component. It appends the class, doesn't replace it.

### Usage
[code]

[2019-07-08 18:32] #156 closed

[2019-07-08 18:32] #152 closed

[2019-07-08 18:33] Aidurber commented on #156
:tada: This issue has been resolved in version 4.5.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-picky)
- [GitHub release](https://github.com/Aidurber/react-picky/releases/tag/v4.5.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-09 06:16] #157 closed

[2019-07-12 13:27] BashaAlam opened #160 "I want filter should be fixed on the top"
I'm using "react-picky": "^4.5.1".

I want to filter(search bar) on the top of the options. The filter should not be scrollable with the options. How should I fix the position of filter?

[2019-07-14 17:29] Aidurber commented on #160
Use the `render` prop and implement the filter functionality yourself. Or maybe you could do it by overriding the CSS.

[2019-07-14 17:29] #160 closed

[2019-07-31 19:29] pmiranda-geo opened #163 "[question]"
It's possible to use more than label key to the name of the options?

[2019-08-01 17:07] Aidurber commented on #163
Can you give me an example of what you mean?

[2019-08-05 06:20] #163 closed

[2019-08-05 06:20] #151 closed

[2019-08-05 18:15] greenkeeper[bot] opened #165 "An in-range update of rollup is breaking the build 🚨"
## The devDependency [rollup](https://github.com/rollup/rollup) was updated from `1.18.0` to `1.19.0`.

🚨 [View failing branch](https://github.com/Aidurber/react-picky/compare/master...Aidurber:greenkeeper%2Frollup-1.19.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

rollup is a devDependency of this project. It **migh

[2019-08-05 21:22] coryhouse opened #166 "Accept ID prop"
## Here's what went wrong:

I'd like to pass in an ID on props, but it's not accepted. I see the id is generated internally as a guid. But this breaks accessibility since there's no way to assign a label to this input because the ID isn't deterministic. Is there a reason the ID is generated instead of simply accepting an id as a prop?

[2019-08-05 21:27] coryhouse commented on #166
Here's an example of an accessible label setup that isn't currently supported:

[code]

Without accepting an id, there's no way to tie the label to the input for a11y.

[2019-08-06 18:35] coryhouse commented on #166
I have forked this project and added this support. Happy to do a PR if you're willing to accept.

[2019-08-07 06:55] Aidurber commented on #166
Hi @coryhouse,
Yes, a pull request would be great!

[2019-08-08 07:07] #166 closed

[2019-08-08 07:21] Aidurber commented on #166
:tada: This issue has been resolved in version 4.5.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-picky)
- [GitHub release](https://github.com/Aidurber/react-picky/releases/tag/v4.5.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-08-15 09:23] SimonChris opened #169 ""Select All" filtered values"
When typing into the searchbox, the Select All option disappears. I can override the Select All rendering, to make sure it is always shown, but then it still selects all the options, not just the ones matching the search text.

I would like to be able to select all the options actually shown in the dropdown when filtering and only them. Is there any way to accomplish this?

[2019-08-15 10:54] Aidurber commented on #169
Using a combination of `onFiltered` and `renderSelectAll` you can change what happens inside the custom render.

See this rough example:
https://codesandbox.io/s/picky-only-select-all-filtered-xztnh

When the filter is changed, we store the filtered results in the component state. With the custom select all we check if we're filtered, if so then add the filtered results as the selected values.

I

[2019-08-15 14:09] SimonChris commented on #169
Thank you :). Are there any plans to add something like this as a standard option?

[2019-08-15 14:28] Aidurber commented on #169
Not currently, I personally don't use Picky in any of my projects so I don't have much reason to develop. I'll fix bugs, accept PRs, and add enhancements when I'm not busy. Though this seems like a good suggestion. I'll mark this as a good first issue, if no-one gets around to it then I might do eventually.

Probably a prop like:

`selectAllMode` with options like: `default`, `filtered`
or just an

[2019-08-15 14:29] SimonChris commented on #169
Thanks for the quick reply :). If I get around to this, I may send you a PR.

[2019-08-28 09:19] bdevika opened #172 "Can we do groupBy feature using react-picky?"
## Version

## Here's what went wrong:

## Example
Create a Code Sandbox, you can fork this: [Demo Picky](https://codesandbox.io/s/6o6y0)

[2019-08-28 12:38] Aidurber commented on #172
No, you can do custom rendering using the render prop. Not sure how that'd work with the value.

I'd recommend [react-select](https://github.com/JedWatson/react-select).

[2019-08-28 12:38] #172 closed

[2019-08-28 15:34] pravin-d opened #174 "How to implement lazy load and windowing with react-picky?"
Interesting take on multiselect for large sets.
Is lazy load possible with picky ? The `options` props expects the whole list.
If that is not possible how to enable windowing ? `react-window` return a <List /> component, however `renderList` props expects and array as return value.
The priority is windowing and if possible lazy loading.
Any help would appreciated

[2019-08-29 03:30] bdevika commented on #172
@Aidurber , OK Thank you

[2019-08-30 04:51] pardeep889 opened #175 "Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: undefined"
## Version
latest
## Note
I am using react-picky package for showing select filter options with typescript you can check the following package.json for versions. Everything working fine when I use create-react-app without typescript. Maybe some libs got conflicted. I have tried with updating react and react-dom even it shows the same error as the image I have attached. It is not an import-export i

[2019-08-31 19:08] Aidurber commented on #175
Can you host a repository on Github reproducing this issue?

[2019-08-31 19:12] Aidurber commented on #174
I don't see why not, I've not tested lazy loading, but it would just be a case of using the `renderList` prop. Inside that you can add your events on scroll. Then just concat the new options to the list of current options.

The same applies for windowing/virtual lists, use the `renderList` prop.

[2019-08-31 19:12] #174 closed

[2019-09-03 03:38] pardeep889 commented on #175
I have can only show you errors and package.json and I think its enough :)

[2019-09-05 05:45] #165 closed

[2019-09-09 05:32] pardeep889 commented on #175
Did you check that?

[2019-09-09 11:53] Aidurber commented on #175
@pardeep889 I don't believe it's an issue with Picky, see this codesandbox:
https://codesandbox.io/s/xenodochial-darkness-4kok4

It works fine until I add react-modal.

[2019-09-09 12:33] pardeep889 commented on #175
and its not working

[2019-09-09 12:42] Aidurber commented on #175
How is it not working? I'm not getting the error you're reporting.

[2019-09-09 12:45] pardeep889 commented on #175
that is not an error I have mentioned the error above

[2019-09-09 12:50] pardeep889 commented on #175
I am closing this issue and remove this package and using this package `@syncfusion/ej2-react-dropdowns` because of no response from your side. Anyway thanks

[2019-09-23 21:47] Riteshgiri commented on #73
This does not work for me.
Is there something I need to change to clear filter field when re-opened?

[2019-09-23 21:51] Riteshgiri commented on #73
<img width="626" alt="Screen Shot 2019-09-23 at 5 48 43 PM" src="https://user-images.githubusercontent.com/10654768/65465546-94ec0800-de2a-11e9-905d-30fb45d73005.png">

The content in filter is retained when I click outside and then return back to the filter

[2019-09-23 22:27] Riteshgiri opened #178 "Picky Dropdown retains the filtered list when re-opened."
## version
4.5.2

## Here's what went wrong:
When you select the dropdown, type a search string on the filter and close the dropdown and open it again - the dropdown shows the filtered list with the filter previous text. The only way to get back to the original state (options) is to type in something and then manually delete it.

<img width="640" alt="Screen Shot 2019-09-23 at 5 53 32 PM" src="htt

[2019-10-03 16:33] HarishTeens commented on #169
I think I can implement the deselect option , what I'm thinking is static select all and deselect all buttons , will do their selections and deselections for all or just the filters. Would that be right?

[2019-10-03 20:17] Aidurber commented on #169
Hi @HarishTeens,
No I don't think that would be correct. The behaviour that Simon requested is that when the user has filtered the list and they press "Select All", that it only selects the filtered results.

So let's say you have a list:
- Moon
- Boo
- Cat

You then filter "oo", the list becomes:
- Moon
- Boo

When you press "Select All", it will select both Moon and Boo, but not Cat.

Currently

[2019-10-04 07:17] HarishTeens commented on #169
Yes I understood , when filtered , select all button will select only the filtered ones, i.e. Moon and Boo

[2019-10-04 09:02] HarishTeens commented on #169
And To be honest I don't know how to build or run packages , I've just used them in my projects, I was following the contributing.md file , it said to write a failing test on step 5 , i dont know testing too, would you help me out here?

[2019-10-05 12:14] Aidurber commented on #169
Hello @HarishTeens,

Apologies for the late reply I was out to a party yesterday after work.

Yes I can help you.

I've updated the contributing.md with steps on how to do some manual testing locally. They may help you.

So if you got up to step 4, we're almost done with the boring stuff.

I understand that testing can be quite daunting but once you grasp it you won't look back. If you're serious

[2019-10-05 12:16] Aidurber commented on #169
It's worth noting that I've already added the `selectAllMode` prop to fix a bug that this feature would have caused.
You can see it here: https://github.com/Aidurber/react-picky/pull/181

[2019-10-05 18:00] #178 closed

[2019-10-05 18:04] Aidurber commented on #178
Fixed in version 4.7.0.

Added new prop `clearFilterOnClose`

[2019-10-06 11:46] Riteshgiri commented on #178
That works really well!!
Thanks.

[2019-10-06 18:42] HarishTeens commented on #169
Wow thank you very for explaining everything, this is really a lot to process definitely  I will go through all of it and get back to you...

[2019-10-06 18:50] Aidurber commented on #169
You're right there is a lot to process, and as I mentioned above you picked a really tricky issue 😁
Let me know if you have any issues, happy to help where I can.

[2019-10-10 16:36] HarishTeens commented on #169
I have done the part where it selects the filteredOptions only when select all button is clicked,
Now if the filter is cleared or changed what should Happen?
Should I simply deselect everything or select whatever filtered item remaining?

[2019-10-10 16:57] Aidurber commented on #169
So if we stick with the Moon, Boo, Cat example.

If you search "oo" and select all, that has Moon and Boo selected.
If you clear the filter, Moon and Boo should still be selected and the list should no longer be filtered, so you should see Cat in that list.

[2019-10-10 17:01] HarishTeens commented on #169
Okay cool that is what I have done , Test case has passed  , I'm giving PR in few minutes

[2019-10-10 17:05] Aidurber commented on #169
Nice work, I'll take a look shortly. I'll be cooking my dinner soon so it might be after that when I get to reviewing it.

[2019-10-10 17:31] HarishTeens commented on #169
going back to my previous question , if i clear the filter , moon and boo should still be selected , but happens to the select all button?

[2019-10-10 17:42] HarishTeens commented on #169
https://github.com/Aidurber/react-picky/pull/185

[2019-10-10 20:19] Aidurber commented on #114
Released in version 4.7.1

Closed by #186

[2019-10-10 20:19] #114 closed

[2019-10-11 05:05] HarishTeens commented on #169
Okay then , feel free to create a issue so that I can try to do something . And thank you so much for you support .

[2019-10-31 09:16] SimonChris commented on #169
What's the status on this?

[2019-11-03 17:07] Aidurber commented on #169
@SimonChris This has been released, thanks to @HarishTeens
I've also done the work to support indeterminate checkbox states. This is in version 5, breaking changes due to a port to TypeScript and minimum React version is now 16.8.0.

Let me know if you have any issues, closing.

[2019-11-03 17:07] #169 closed

[2019-11-03 17:11] Aidurber commented on #96
@alturium You should be able to do this now, there is a prop called `buttonProps` these simply get merged into the button component. Any className supplied get merged.
[code]

[2019-11-03 17:11] #96 closed

[2019-11-03 17:48] SimonChris commented on #169
"Invariant Violation: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: object."

I get this error whenever I try to render a Picky component with Picky 5.0. I've tried removing all the props with no effect.

[2019-11-03 18:50] Aidurber commented on #169
@SimonChris Thank you for testing this and my apologies for breaking the build 😭 I usually symlink into a local sandbox to test the distribution but it's been like a year since I had any issues. My bad!

There seemed to be an issue with default exports and the build with CJS and ESM. I've changed Picky to a named export and updated the docs. Can you take a look at 5.0.1 when you have a chance and

[2019-11-04 08:26] SimonChris commented on #169
I get the same error on 5.0.1.

[2019-11-04 10:16] Aidurber commented on #169
Hmmm, I can't reproduce it:
https://codesandbox.io/s/simple-example-multi-and-single-select-zttud

[2019-11-04 10:56] SimonChris commented on #169
I had to change 'import Picky from "react-picky"' to
'import { Picky } from "react-picky";'

It works now :).

[2019-11-04 11:14] Aidurber commented on #169
Ahh 😂 I did say to do that.

I've updated the docs to reflect that, glad I made this a breaking change 😁

Thanks for all of your help @SimonChris!

[2019-11-13 09:58] eger1393 opened #193 "class `picky_placeholder` is not set"
![picky](https://user-images.githubusercontent.com/23283702/68753188-a32df780-0615-11ea-9e0f-aefac3642452.png)
## Version
5.0.1
## Here's what went wrong:
class _picky_placeholder_ is not set on the _placeholder_ when selecting an element

## Example
https://codesandbox.io/s/picky-demo-hgf8l

[2019-11-14 07:43] #193 closed

[2019-11-20 19:33] switz opened #197 "Creatable picky"
This is exactly what I'm looking for, but I need users to be able to create their own entries. Any plans to add a _create-able_ version?

e.g. https://react-select.com/creatable

[2019-11-21 10:35] Aidurber commented on #197
Hi @switz ,
That's an interesting suggestion, I've not thought about that before, but I don't think so.

If you use the `renderList` prop you can render the whole dropdown so you can roll your own creatable I believe.

[2019-11-22 09:33] nvgopi opened #198 "Check "Select All" By Default in Picky"
## Version
 "react-picky": "^4.4.5"

Aidurber,
When the app loads for the first time, I want to check the "select all" options by default. I have gone through the closed Issues but couldn't find anything. Is there a way to achieve that?

Thanks.
![Screenshot](https://user-images.githubusercontent.com/31060544/69414684-32838b00-0d39-11ea-8b8f-004023c59080.png)

[2019-11-22 10:26] Aidurber commented on #198
You just need to provide all of your options as values when the component mounts.

Let's say you have:
[code]

[2019-11-25 10:46] nvgopi commented on #198
Thanks. That was it!

[2019-11-25 10:46] #198 closed

[2019-11-28 22:17] r-moore commented on #175
I also get this error and can reproduce it in a code sandbox.

See: https://codesandbox.io/s/hardcore-tereshkova-y60e5

Note that if you change the version of react-picky (in package.json) to 4.1.0 the error goes away - seems to be a bug in 5.x release of react-picky.

[2019-11-28 22:48] r-moore commented on #175
Okay, it's TypeScript related. I managed to fix it in my fork by adding Picky.d.ts with a type definition for `new` inside.

(See: https://stackoverflow.com/questions/48964924/typescript-jsx-element-type-does-not-have-any-construct-or-call-signatures#48965284)

I'll be honest, I don't understand my own fix properly, but I will try to read up on it a bit and do a proper PR in a few days or so :)

[2019-11-29 07:43] Aidurber commented on #175
@r-moore In v5, Picky is no longer a default export (some weird issue with TSDX it seemed), see: https://github.com/Aidurber/react-picky#migrations

[2019-12-02 09:44] pardeep889 commented on #175
it's very late I have used other library for that :) anyway thanks

[2019-12-02 12:24] #175 closed

[2020-01-02 21:02] mpGitHub opened #199 "Is it possible to style content in the placeholder area"
## Version
4.7.2

## Here's what went wrong:
When items are selected we would like to style the number of items selected so it jumps out that we are filtering the page.

In the example below when you select items it uses the manySelectedPlaceholder to display the number of items selected. We would like to use some styling to show the number emphasized. Ideally we would like to show the number in a

[2020-01-03 16:57] Aidurber commented on #199
Hi @mpGitHub
The only way I can think to get this to work is to pass a className to `buttonProps` (see readme).

See my updated example below, if items are selected then we return an object which contains a className.

https://codesandbox.io/s/picky-demo-b6qhu

Excerpt:
[code]

You can also return a style if that's more your thing:

[code]

[2020-01-03 16:57] #199 closed

[2020-01-08 13:09] Riteshgiri opened #200 "filter search box should trim spaces before and after content"
## Here's what went wrong:
In the search filter box, any white space before and after the content should be removed

Example : If dropdown has a list of countries, and we search with " United States"/ "United States ", United States wont show up as there is a whitespace before and after the search word.

thanks.
Any help on this would be valued.

[2020-01-09 11:16] #197 closed

[2020-01-15 21:35] Aidurber commented on #200
Hi @Riteshgiri
It's a fair point but I don't want to force everyone to conform to the same. The most flexible way will be to add something like `filterTermProcessor: (term:string) => string`. That way the developer can do whatever they need to the term. The default will just be: `(term) => term`. Doing this also means that we don't have to release a major version since there's no possible breaking

[2020-01-16 19:45] #200 closed

[2020-01-23 01:41] consciousnessdev opened #202 "Unable to load picky.css"
## Version
"react-picky": "^5.2.0"

## Here's what went wrong:
when start apps, it generate
"Error: undefined Unable to resolve module `react-picky/dist/picky.css` from `src/...`"

## Screenshoot
i've done do this but it still happen
![Image of step to resolve](https://i.imgur.com/3Ag7E2gl.png)

[2020-01-23 08:54] Aidurber commented on #202
@consciousnessdev Picky doesn't work in React Native

[2020-01-23 08:54] #202 closed

[2020-02-21 20:34] martinwaugh opened #203 "class `picky_placeholder` is reversed from version 4.x"
## Version

5.2.0 (starting in 5.0.2)

## Here's what went wrong:

In version 4.7.x (and 5.0.1), the `picky_placeholder` class was applied when the selection was empty, and not otherwise. Now it is the reverse.

## Example

![image](https://user-images.githubusercontent.com/16947443/75068923-fa5d2700-54a4-11ea-99ad-f441468573fc.png)

[2020-02-24 07:53] #203 closed

[2020-02-24 08:00] Aidurber commented on #203
@martinwaugh Thanks for reporting this one, I'm sorry about this regression. I've added tests to ensure this doesn't happen again.

[2020-03-21 16:42] Aidurber opened #209 "Picky 6"
I know it's not a widely used component, but I thought I'd still share my roadmap for Picky.

One thing that gets asked a lot is "can Picky do X", I'm usually surprised to find that with a combination of render props and some other hacks, that yes, Picky can do it.

However, as more feature requests come in and for those cases where a render prop won't cut it, I find myself adding prop after prop.

[2020-03-23 00:51] krishna63 commented on #37
@AndreBastos23 : So removing this [condition ](https://github.com/Aidurber/react-picky/blob/595b07eb82491046aec1c4a27004707dce900b4d/src/Picky.tsx#L727)should solve the problem, right ?

cc: @Aidurber

[2020-03-26 14:07] abarisic86 opened #210 "RenderList can have it's own isSelected function based on allSelected state"
## 5.2.0

## Unable to find a way to modify the component

Trying to modify the component that it is default all selected but that in that case, options besides selectAll are unchecked, when clicking on one they become selected

What I want to achive is actually to reverse the behaviour of the list when "all" is selected. And when you click first option after "all" is selected. It would show just

[2020-04-08 10:05] Aidurber commented on #210
Hi @abarisic86,

That seems like an uncommon use-case so I don't think it should be included in Picky.

I'm not entirely sure how we'd do this in Picky, you might have better luck with [Downshift](https://github.com/downshift-js/downshift) or writing your own. If you write your own it's not too difficult, I'm in the process of a rewrite you can take a look here [Picky Rewrite](https://codesandbox.

[2020-04-08 10:27] #210 closed

[2020-04-12 10:30] Aidurber commented on #114
I'm just in the process of trying to improve the accessibility of Picky, and one thing that was flagged was the contrast of the placeholder. It has a contrast ratio of 2.07:1 which fails accessibility checks.

I'm changing the placeholder colour to `#595959` which has a passing ratio of 7:1 which is AAA.

If you want a lighter colour, by all means, override the styles in the CSS in your project. B

[2020-04-14 09:20] Aidurber commented on #37
@krishna63 I'm really not sure, I'm shamefully poor at accessibility. Do you think it would help?

[2020-06-05 13:33] mcusack60 opened #216 "Would like to have a singleSelectedPlaceholder"
## Version
current
## Here's what went wrong:
Similar to how you have the manySelectedPlaceholder and allSelectedPlaceholder, it would be nice to have a singleSelectedPlaceholder to override the default behavior of displaying the selected value when the picky is not a multi-select.

## Example
Create a Code Sandbox, you can fork this: [Demo Picky](https://codesandbox.io/s/6o6y0)

[2020-08-05 10:28] Aidurber commented on #216
@mcusack60 I'm sorry for the late reply, I've been extremely busy with work and not coding in my evenings. I'll try and get around to this in the next couple of days. This seems like a decent suggestion.

[2020-08-05 18:14] #216 closed

[2020-08-05 18:20] Aidurber commented on #216
@mcusack60 This should now be on NPM in v5.3.0

[2020-08-31 11:34] czeslaaw opened #221 "Picky is focused twice when navigating using tab button."
## Version
5.3.0

## Here's what went wrong:
When navigating using tab focus is set twice on Picky: first on the div wrapper and then on the button. Likely tabindex should be on the button and not on the wrapper.

## Example
(https://codesandbox.io/s/6o6y0)

Just use tab to navigate demo above.

[2020-09-03 19:40] #221 closed

[2020-09-03 19:41] Aidurber commented on #221
@czeslaaw Thanks for the report and the solution to it!

[2020-12-04 09:04] fishonweb opened #226 "maxLength on filter input"
I would like to be able to limit character in filter input.

Currently, any user could type character in input filter without limit. It could be useful to use maxLength to limit it.

[2020-12-04 09:11] Aidurber commented on #226
Hmm, perhaps by using the `filterTermProcessor` see here: https://github.com/Aidurber/react-picky#prop-descriptions

Your function could be something like: `(term) => term.trim().slice(0, 20)`

[2020-12-04 10:12] fishonweb commented on #226
Thank you !
I had tried it and I have error with react minification with Version 5. I have to fix it to valid this.

[2020-12-07 10:01] donkeyDau commented on #209
I love it! Do you have any (rough) estimate when you'll release v6?

[2020-12-07 14:42] Aidurber commented on #209
Hi @donkeyDau sorry, no estimate at the moment I'm afraid. Work and personal life have been taking my attention this year and it has been hard to commit to this.

I might be able to get to it over the holidays when I have some personal time.

[2020-12-07 23:55] mgpGit opened #227 "Is it possible to close the dropdown after selection if using a single select"
## Version
    "^5.3.2"

## Here's what went wrong:

If using single select, is it possible to close the dropdown after selection?

I tried setting the "open" option to false onChange(), but that property only seems to work onload.

This would be helpful as otherwise it seems odd to have to click off to close the dropdown after you select a single item.

Thoughts?

## Example
Create a Code Sandbox

[2020-12-08 07:40] Aidurber commented on #227
@mgpGit set the `keepOpen` prop to false. See [README](https://github.com/Aidurber/react-picky#prop-descriptions)

It only works for single select mode, not multiple select mode.

See this [demo](https://codesandbox.io/s/small-smoke-747ve?file=/src/App.js)

[2020-12-08 07:40] #227 closed

[2020-12-08 07:40] Aidurber commented on #226
@fishonweb Did you figure it out?

[2020-12-08 07:40] #226 closed

[2020-12-08 14:24] mgpGit commented on #227
Perfect! Thanks!

[2020-12-23 14:42] saikrishnaakula opened #228 "[Feature Request]: Sort the selected option to top"
## Version
5 3.2

## Here's what went wrong:
->open a multiselect dropdown
->select multiple items from the list
->close the dropdown
->reopen the samedropdown, selected items should be at the top of the list

## Example
i dont have a sample for this.
Create a Code Sandbox, you can fork this: [Demo Picky](https://codesandbox.io/s/6o6y0)

[2021-01-06 23:20] mgpGit opened #229 "IE11 isn't working in latest version of Picky"
## Version
v5.3.2

## Here's what went wrong:
The page throws a generic JavaScript Syntax error "SCRIPT1002"

Drilling into it seems to point to this:

`const debounce = (fn, delay) => {
  let timeoutID = null;
  return function(...args) {
    if (timeoutID) {
      clearTimeout(timeoutID);
    }
    const that = this;
    timeoutID = setTimeout(() => {
      fn.apply(that, args);
    }, delay);

[2021-01-07 10:09] Aidurber commented on #229
Hmm, I moved from TSDX to Rollup + ESBuild since 5.2.5, things mustn't be being polyfilled.

[2021-01-07 16:17] mgpGit commented on #229
Hey @Aidurber -

I'd prefer to just get IE11 working with the latest, but until then I need to support singleSelectPlaceholder and version 5.2.5 does not support that. What is the recommended approach to accomplish singleSelectPlaceholder in previous versions of picky?

Unless you think the IE11 fix is easy?

[2021-01-13 15:36] Nikita-Fed opened #230 "Problem with counter of chosen items"
## Version 5.3.2

## Here's what went wrong:
There are some problems with the counter's badge. I have a table with 10 columns. When I start filter them one by one, and for example, choose 4 items in second columns, it really has these 4 items, but when I continue filter next columns and choose more items, quantity of items in dropdown-menu in previous columns could reduce to 1 or 2 items, but coun